body {
  padding-top: 75px;
  

}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}



/* NAVBAR */

a.nav-link {
  color: #fff;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.sidebar,
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
}

.sidebar {
  left: -100%;
  max-width: 300px;
  transition: all ease 0.25s;
  overflow-y: auto;
  z-index: 1032;
}

.overlay {
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  visibility: hidden;
  z-index: 1031;
}

.main-navigation.active .sidebar {
  left: 0;
}

.main-navigation.active .overlay {
  visibility: visible;
}

@media (min-width: 992px) {
  .sidebar {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    flex-direction: row;
    max-width: 100%;
    transform: none;
    transition: none;
    overflow-y: visible;
    z-index: auto;
  }
}

.users{
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 8px 20px 10px 20px;
}
a.nav-item {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  position: relative;
  padding: 8px 10px 8px 10px;
}
.nav-item:hover{
  color: #3c70e8;
  transition: 0.3s;
}



/* Top and Bottom borders go out */
.navbar-nav .nav-link:before, .navbar-nav .nav-link:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #3c70e8;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.navbar-nav .nav-link:before
{
    top: 0px;
    transform: translateY(10px);
}

.navbar-nav .nav-link:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

.navbar-nav .nav-link:hover:before, .navbar-nav .nav-link:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}


.show-post  {
  font-size: 60px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 60px;
  width: 100%;
  height: 600px;
}

a.nav-linker {
 text-decoration: none;
  padding: 10px;
  color: #fff;
}

.pagination li .active_link {
  background-color: #3c70e8 !important;
  padding: 7px;
  color: #fff;
  text-decoration: none;
  display: block;
}

/*=========================================================
	PAGE HEADER
===========================================================*/

.page-header {
  position: relative;
  margin: 0;
  padding-top: 120px;
  padding-bottom: 80px;
  background-color: #1b1c1e;
}

#post-header {
  width: 100%;
  padding-top: 240px;
  padding-bottom: 80px;
}

.page-header .page-header-bg {
  background-size: cover;
  background-repeat: no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
}


.page-header h1 {
  font-size: 41.053px;
  color: #FFF;
}

.page-header p.lead {
  font-size: 20.25px;
  color: #FFF;
}

/*----------------------------*\
	post thumb
\*----------------------------*/

a.author {
text-decoration: none;

}

.section-title {
  position: relative;
  top: 15px;
  margin-bottom: 20px;
}

.section-title .title {
  position: relative;
  display: inline-block;
  background-color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-right: 10px;
  z-index: 20;
}

.section-title:after {
  content: "";
  display: inline-block;
  height: 2px;
  background-color: #e8eaed;
  position: absolute;
  left: 0;
  right: 0;
  top: 10px;
  z-index: 10;
}
.post-meta {
  list-style-type: disc;
  padding-left: 15px;
  margin-bottom: 10px;
}

.post-meta li {
  display: inline-block;
  color: #97989b;
  font-size: 12px;
  text-transform: uppercase;
}

.post-meta li a {
  color: #97989b;
  font-weight: 700;
}

.post-meta li a:hover, .post-meta li a:focus {
  color: #3c70e8;
}

.post-meta li:after {
  content: '•';
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.post-meta li:last-child:after {
  display: none;
}

.post.post-thumb .post-title a {
 text-decoration: none;
  margin: 0px 0px 15px;
  color: #fff;
}

.post.post-thumb .post-title a:hover, .post.post-thumb .post-title a:focus {
  color: #3c70e8;
}

.post.post-thumb .post-meta li {
  color: #fff;
}

.post.post-thumb .post-meta li a {
  text-decoration: none;
  color: #fff;
}

.post.post-thumb .post-meta li a:hover, .post.post-thumb .post-meta li a:focus {
  color: #3c70e8;
}

.post {
  position: relative;
  margin-bottom: 30px;
}

.post .post-body {
  position: relative;
  margin: -50px 0px 0px 3%;
  padding: 5%;
  background: #fff;
  z-index: 10;
}

.post .post-img {
  display: block;
  overflow: hidden;
}

.post-img>img {
  width: 100%;
  -webkit-transition: 1.6s -webkit-transform;
  transition: 1.6s -webkit-transform;
  transition: 1.6s transform;
  transition: 1.6s transform, 1.6s -webkit-transform;
}

.post-img:hover>img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}



.post .post-title.title-lg {
  font-size: 25.629px;
}

.post .post-meta {
  margin-bottom: 10px;
}

.post-meta li {
  display: inline-block;
  color: #97989b;
  font-size: 12px;
  text-transform: uppercase;
}

.post-meta li a {
  color: #97989b;
  font-weight: 700;
}

.post-meta li a:hover, .post-meta li a:focus {
  color: #ee4266;
}

.post-meta li:after {
  content: '•';
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.post-meta li:last-child:after {
  display: none;
}

/*----------------------------*\
	post row
\*----------------------------*/

.post{
padding-top: 8px;

}

.post:after {
  content: '';
  display: table;
  clear: both;
}

.post.post-img {
  width: 40%;
  float: left;
}

.post .post-body {
  margin: 0px 0px 0px calc(40% + 30px);
  padding: 0;
}

/*----------------------------*\
	post widget
\*----------------------------*/

.post.post-widget:after {
  content: "";
  display: table;
  clear: both;
}

.post.post-widget .post-img {
  float: left;
  width: 130px;
}

.post.post-widget .post-body {
  position: relative;
  background: transparent;
  margin: 0px 0px 0px 150px;
  padding: 0;
}

.post.post-widget .post-title {
  font-size: 16px;
  margin-bottom: 0px;
}

/*=========================================================
	POST PAGE
===========================================================*/

.page-header .post-category {
  margin-bottom: 10px;
}

.page-header .post-meta li {
  color: #fff;
}

.page-header .post-meta li a {
  text-decoration: none;
  color: #fff;
}

.page-header .post-meta li a:hover, .page-header .post-meta li a:focus {
  color: #ee4266;
}
.post-share{
  padding-top: 20px;
  display: inline-block;
}
.post-share a {
  text-decoration: none;
  padding: 2px 15px;
  border-radius: 5px;
  color: #fff;
  background-color: #3c70e8;
  margin-right: 4px;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}



.post-share a i {
  width: 20px;
  text-align: center;
}

.post-share a span {
  padding-left: 10px;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
}

.loadmore {
  width: 200px;
  margin: 0 auto;
  margin-bottom:  50px;
  padding: 10px;
  background: none;
  border: 2px solid #3c70e8;
  color: #3c70e8;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}
.loadmore:hover {
  background: #3c70e8;
  color: #fff;
}


/* SECTIONS
**************************************/


.first-section {
    padding: 0;
    border-bottom: 0;
}

.first-section .container-fluid {
    padding: 0 3px;
}


.left-side
 {
    float: left;
    width: 33.33333%;
}

.post-media img,
.masonry-box img {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.post-media:hover img,
.masonry-box:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.masonry-box img,
.masonry-box {
    width: 100%;
}

.masonry-box {
    border: 0.34rem solid #fff;
}

.small-box {
    width: 50%;
    float: left;
}

.masonry-box .blog-meta h4 {
    padding: 0.2rem 0;
}

.masonry-box .blog-meta span {
    background-color: #111111;
    border-radius: 3px;
    font-size: 12px;
    padding: 0.1rem 1rem;
}
.post-media {
    position: relative;
    overflow: hidden;
}

.shadoweffect {
   
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 30%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 30%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 30%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=1);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}

.shadow-desc {
    position: absolute;
    bottom: 0;
    padding: 1rem 1.5rem;
}

.shadow-desc .blog-meta small::after,
.shadow-desc .blog-meta a,
.shadow-desc .blog-meta h4 a {
    color: #ffffff !important;
}



.blog-meta h4 {
    padding: 1rem 0 0.5rem;
    margin: 0;
    font-size: 21px;
}

.blog-meta small {
    font-size: 11px;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #111111;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 0.5rem;
}

.blog-meta small:after {
    content: "/";
    padding-left: 1rem;
}

.blog-meta small:last-child:after {
    content: ""
}


@media (max-width: 1156px) {
    .small-box .shadow-desc h4 {
        font-size: 14px;
    }
}

@media (max-width: 989px) {

    .left-side {
        float: left;
        width: 50%;
    }
}
@media (max-width: 728px) {
  body {
      padding-top: 100px;
  }
    .left-side {
        float: left;
        width: 100%;
    }
    .shadow-desc {
        bottom: 0;
        padding: 1rem 0.8rem;
        position: absolute;
    }
    .post-img {
      margin-right: 15px;
      float: left;
      margin-left: 0px;
    }

}




/* top button */
.dmtop {
    background-color: #3c70e8;
    background-image: url(../img/arrow.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-indent: -99999px;
    position: fixed;
    bottom: -100px;
    right: 25px;
    cursor: pointer;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    overflow: auto;
}


/* search */



.input-group.icon-border {
  border: 2px solid #3c70e8;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
button.icon-btn {
  background-color: #3c70e8;
  color: #fff;
  border: none;
  padding: 0px 8px 0px 10px;
}



/* comment*/

.input-group-text {
  background-color: #3c70e8;
  color: #fff;
}

.fa-comment {
   color: #3c70e8;
}

.comment-wrapper .comments .media {
  background-color:#edeff3;
  padding: 20px;
  
}

ul.comments {
  padding: 0px;
}

.comm {
  padding: 6px 20px;
  border-radius: 20px;
  background: none;
  border: 2px solid #3c70e8;
  color: #3c70e8;
  font-weight: bold;
  transition: all .5s;
  margin-top: 1em;
}

.comm:hover {
  background: #3c70e8;
  color: #fff;
}

/* footer*/

.bottom {
    width: 100%;
    background-color: #282828;

  }
.under {
    max-width: 1140px;
    margin: 0 auto;
}
.under h3 {
    color: #fff;
    margin-top: 15px;
    padding: 10px;
    border-left: 5px solid #3c70e8;
}
.under ul li {
    list-style-type: none;
    color: #f8f8f8;
    font-size: .8em;
    padding: 5px 5px 10px 10px;
}
.under a {
    margin-left: 10px;
}
.under a {
    color: #fff;
    font-size: 1.2em;
}
.under li:hover a {
    color: #659dbd;
    text-decoration: none;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
.copy {
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
@media (max-width:768px) {
  .post{
  padding-bottom: 8px;

  }
.under h3 {
    padding-top: 15px;
    font-size: 1.5em;
    border-left: transparent;
}
.bottom .down {
    width: 100%
  }
}
